.nope {
    background-color: rgb(34, 104, 233);

}


a {
    text-decoration: none;
    font-size: xx-large;
    font-family: fantasy;
    font-style: oblique;
    color: antiquewhite;

    &:hover {
        color: blue;
        transition: 1s;
    }
}